<!DOCTYPE html>
<html>
<head>
    <title>Can I Scrape It</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header>
        <h1>Can I Scrape It?</h1>
    </header>
    <main>
        <form action="/check-url" method="post">
            <input type="text" name="url" placeholder="Enter URL here">
            <button type="submit">Check</button>
        </form>
    </main>
    <footer>
        <p>© 2024 Dk. All rights reserved.</p>
    </footer>
</body>
</html>
